extends layout

block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			li.category-nav
				a(href='#forum-' + forum.slug)= forum.name
			each topic in forum.topics
				li.forum-nav(id='nav-topic'+ topic.slug)
					a(href="/topic/" + topic.slug + "/")
						i.icon-chevron-right
						| !{topic.title}
						
	.span9.forum.xforum
		.forum-table
			if(user.role && user.role.permissions.CAN_CREATE_TOPIC)
				.row.action-buttons
					.span9
						a(href='/create/topic/?pid='+ forum._id).btn.action-button
							i.icon-comments-alt
							| New Topic
			.row(id = 'forum-' + forum.slug).display-head
				a(href= '/forum/'+ forum.slug+'/').display-title= forum.name
				span.display-desc= forum.desc
			.row.display-headings
				.span9
					.span1 Status
					.span3 Topic
					.span1 Views
					.span1 Replies
					.span2 Last Poster
			section.forum-topics
				each topic in forum.topics
					.row.display-row(id = 'topic-' + topic.slug)
						.span9
							.span1 
								if topic.isRead
									i.icon-folder-open
								else
									i.icon-folder-close
							.span3 
								a(href = '/topic/'+topic.slug+'/') #{topic.title}
								p.help-block.display-subtitle= topic.desc
							.span1= topic.views
							.span1.topic-replies= topic.replies.length
							.span2.topic-last-poster SlashmanX

		input(type='hidden', value=forum._id)#forumid
	
block append scripts
	script(src='/js/views/forum.js')
	script(src='/js/controllers/homeController.js')