extends layout

block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			each cat in categories
				li.category-nav
					a(href="/category/" + cat.slug+"/")
						i.icon-chevron-right
						| !{cat.name}
				
				each forum in cat.forums
					li.forum-nav
						a(href="/forum/" + forum.slug+"/")
							i.icon-chevron-right
							| !{forum.name}
							span.sidenav-badge= forum.unRead
	.span9.home-categories.xforum
		for cat in categories
			.home-category
				.row-fluid(id = 'cat-' + cat.slug).display-head
					a(href= '/category/'+ cat.slug+'/').display-title #{cat.name}
				.row-fluid.display-headings
					.span9
						.span1 Status
						.span4 Forum
						.span1 Topics
				section.home-category-forums
					each forum in cat.forums
						if forum.parent == null
							.row-fluid.display-row(id = 'forum-' + forum.slug)
								.span9
									.span1 
										if forum.isRead
											i.icon-folder-open
										else
											i.icon-folder-close
									.span4
										a(href = '/forum/'+forum.slug+'/') #{forum.name}
										p.help-block.display-subtitle= forum.desc
									.span1.home-category-num-topics= forum.topics.length
	
block append scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')