extends layout

block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			each cat in categories
				li.category-nav
					a(href="#cat-" + cat.slug)
						i.icon-chevron-right
						| !{cat.name}
				
				each forum in cat.forums
					li.forum-nav
						a(href="#forum-" + forum.slug)
							i.icon-chevron-right
							| !{forum.name}
	.span9
		- for (var i = 0; i < categories.length; i++)
			table.table.table-bordered.table-striped
				thead(id = 'cat-' + categories[i].slug)
					tr
						th(colspan='4')
							a(href= '/category/'+ categories[i].slug+'/') #{categories[i].name}
					tr
						th Status
						th Forum
						th Topics
				tbody
				each forum in categories[i].forums
					if forum.parent == null
						tr(id = 'forum-' + forum.slug)
							td 
								i.icon-folder-close
									&nbsp;
							td
								a(href = '/forum/'+forum.slug+'/') #{forum.name}
							td= forum.topics.length
	
block append scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')