extends layout

block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			each cat in categories
				li.category
					a(href="#cat-" + cat.name)
						i.icon-chevron-right
						| !{cat.name}
				
				each forum in cat.forums
					li.forum
						a(href="#forum-" + forum.name)
							i.icon-chevron-right
							| !{forum.name}
	.span9
		- for (var i = 0; i < categories.length; i++)
			table.table.table-bordered.table-striped
				thead(id = 'cat-' + categories[i].name)
					tr
						th(colspan='4')= categories[i].name
					tr
						th Status
						th Forum
						th Topics
						th Replies
						th Last Poster
				tbody
				each forum in categories[i].forums
					tr(id = 'forum-' + forum.name)
						td 
							i.icon-folder
						td= forum.name
						td= forum.threads.length
						td 143
						td SlashmanX
	
block append scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')