extends layout

block content
	mixin actions
		ul.breadcrumb
			li
				a(href="/").breadcrumb-home Home
				span.divider /
			li
				a(href="/forum/"+topic.forum.slug+"/").breadcrumb-forum=topic.forum.name
				span.divider /
			li.active= topic.title
		.row.actions
			.span9.no-margin.pagination
				ul.topic-posts-jpages
	
			.span3.action-buttons
				if(user.role && user.role.permissions.CAN_POST)
					a(href='#').btn.btn-primary.action-button
						i.icon-comment-alt
						| Add Reply
	.topic-view.xforum
		mixin actions
		.row.display-head
				span.display-title #{topic.title}
				span.display-subtitle= topic.desc
		section.posts#topic-posts
			each post in topic.posts
				section.topic-post(id = 'post-'+ post._id)
					.row.post-details
						.span2.no-margin
							i.icon-user
							span.post-username(id= 'post-'+post._id + '-user-'+ post.author._id)= post.author.username
						.span10
							small Posted 
								abbr.timeago(title=post.postedOn) #{post.postedOn}
					.row.post-main
						.span2.no-margin
							ul.user-details
								li.user-avatar
									if(!post.author.avatar)
										img(data-src="holder.js/120x120/text:"+post.author.username).img-polaroid
									else
										img(src=post.author.avatar).img-polaroid
						.span10
							.post-body
								!{post.body}
					.row.post-actions
						.span2.no-margin.topic-user-actions
							if(user.role && user.role.permissions.CAN_PM)
								button.btn.btn-info.pm-user(type='button')
									i.icon-envelope
									| PM
							else
								| &nbsp;
						.span10
							span.topic-post-actions
								if(user.role && user.role.permissions.CAN_POST)
									button.btn.reply-post(type='button')
										i.icon-comment
										| Reply
								if(user.role && user.role.permissions.CAN_POST)
									button.btn.multiquote-post(type='button')
										i.icon-comments
										| Multi Quote
								if  ((user.username == post.author.username) && (user.role && user.role.permissions.CAN_EDIT_OWN_POSTS)) || (user.role && user.role.permissions.CAN_EDIT_OTHERS_POSTS)
									button.btn.edit-post(type='button')
										i.icon-edit
										| Edit
								if user.username != post.author.username
									button.btn.btn-warning.report-post(type='button')
										i.icon-legal
										| Report
								if  (post._id != ''+ topic.post) && (((user.username == post.author.username) && (user.role && user.role.permissions.CAN_DELETE_OWN_POSTS)) || (user.role && user.role.permissions.CAN_DELETE_OTHERS_POSTS))
									button.btn.btn-danger.delete-post(type='button')
										i.icon-trash
										| Delete

								if  (post._id == ''+ topic.post) && (((user.username == post.author.username) && (user.role && user.role.permissions.CAN_DELETE_OWN_TOPICS)) || (user.role && user.role.permissions.CAN_DELETE_OTHERS_TOPICS))
									button.btn.btn-danger.delete-topic(type='button')
										i.icon-trash
										| Delete Topic
		mixin actions
		if(user.role && user.role.permissions.CAN_POST)
			.row.display-head
				span.display-title Add Reply
			section.row.topic-post-reply
				form( method="post")#reply-form
					input.topicid(type='hidden', name = 'topic', value = topic._id)
			
					textarea#reply-post(name = 'reply-post', rows='10').span12
			
					span.pull-right
						button.btn.btn-primary(type='submit') Post
				
	
block append scripts
	script
		var me = !{JSON.stringify(user)}
	script(src='/js/views/topic.js')
	script(src='/js/lib/holder.js')
	script(src='/js/controllers/topicController.js')