extends layout

block content
	.span12.topic
		.row-fluid
			.span12
				h2 
					span.topic-title= topic.title
					span.topic-subtitle= topic.desc
		section.posts
			each post in topic.posts
				section.post(id = 'post-'+ post._id)
					.row-fluid
						.span10.offset2
							small Posted 
								abbr.timeago(title=post.postedOn) #{post.postedOn}
					.row-fluid
						.span2
							ul.user-details
								li.user-name= post.author.username
								li.user-avatar
									img(src="http://placehold.it/140x140").img-polaroid
						.span10
							.post-body= post.body
					.row-fluid
						.span12.post-actions
							span.pull-right
								button.btn(type='button')
									i.icon-comment
									| Reply
		.row-fluid
			.span12.reply-to-post
				h3 Add Reply
				form( method="post")#reply-form
					input.topicid(type='hidden', name = 'topic', value = topic._id)
					
					textarea(name = 'body').span12
					
					span.pull-right
						button.btn.btn-primary(type='submit') Post
				
	
block append scripts
	script(src='/js/views/topic.js')
	script(src='/js/controllers/topicController.js')